.container{
    padding: 10px;
    display: inline-block;
    width: 95vw;
    font-family: Arial, Helvetica, sans-serif;

}
.newBody{
    height: 50vh;
    margin: 10px;
    width: 50vw;
}

.keywords {
    display: inline-block;
    top:0;
    vertical-align: top;
}

.title{
    margin: 10px;
    width: 50vw;
}
.post{
    width: 70vw;
}
.postContainer{
    display: inline-block;

    align-items: center;
    padding-left: 10vw;
    width: 75vw;
}

.comment {
    width: 99%;
    height: 10vh;
}
.date{
    
}
textarea{
    font-family: Arial, Helvetica, sans-serif;
}