.homeTitleContainer{
    color: white;
    position: absolute;
    text-align: center;
    max-height: 250px;
    width: 99vw;
    padding-top: 3%;
}
.homeTitle{
    font-size: 3em;
}
.homeSubtitle{
    font-size: 2em;
   
}
.homeImage{
    max-height: 250px;
    width: 99vw;
    margin-top: -10px;

}
.homeContainer {
    margin: 3vw;
}
.homeBlog{
    display: inline-block;
    width: 78vw;
}
.homeNews{
    display: inline-block;
    width:14vw;
    top:0;
    vertical-align: top;
}
