.homeTitleContainer{
    color: white;
    position: absolute;
    text-align: center;
    min-height: 250px;
    width: 100vw;
    padding-top: 6%;
}
.homeTitle{
    font-size: 5em;
}
.homeSubtitle{
    font-size: 2em;

}
.homeImage{
    min-height: 250px;
    width: 100vw;
    margin-top: -10px;

}