.button {
    display: inline-block;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
    margin-right: 5px;
    padding: 5px;
}
.words{
    display: inline-block;
    margin-right: 5px;
    width: auto;
}
.button-container{
    display: inline-block;

}