.button {
    display: inline-block;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
    margin-right: 5px;
    padding: 5px;
}
.words{
    display: inline-block;
    margin-right: 10px;
    width: auto;

}
.button-container{
    display: inline-block;

}
.content {
    text-align: right;
    display: inline-block;
    width: 45vw;
}
.heading {
    font-size: 16pt;
    font-weight: 700;
    padding-right: 10px;
    display: inline-block;

}
.heading-container{
    width: 50vw;
    display: inline-block;


}

a:visited {
    color: black;
}